%h1 Tipos de Monitoria Oferecidos
%table#tipos
  %thead
    %tr
      %th Descrição
      %th
      %th
  %tbody
    - @tipos.each do |tipo|
      %tr
        %td= tipo.descricao
        %td= link_to image_tag('editar.png'), edit_tipo_path(tipo)
        %td= link_to image_tag('deletar.png'), tipo, :method => :delete, :data => { :confirm => 'Você realmente deseja remover?' }

%br

= link_to image_tag('adicionar.png'), new_tipo_path
