<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos contatando você para notificá-lo de que seu email está sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos contatando você para notificá-lo de que seu email foi alterado para sendo alterado <%= @resource.email %>.</p>
<% end %>
